{% extends 'base.html.twig' %}

{%  block title %}
    Create Taxe
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="container">
        <div>
            <h1>Create Taxe</h1>
            <a class="btn btn-secondary" href="{{ path('admin.taxe.index') }}">Retour a la liste des Taxes</a>
        </div>

        <div>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-secondary" type="submit" value="Create">
            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}




