{% extends 'base.html.twig' %}


{% block title %}
    Update Taxe
    {{ parent() }}
{% endblock %}


{% block body %}

    <section class="container">
        <div>
            <h1>Update Taxe</h1>
            <a class="btn btn-secondary" href="{{ path('admin.taxe.index') }}">Retour a la listes des taxes</a>
        </div>

        <div>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-secondary" type="submit" value="Update">
            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}