{% extends 'Security/security/adminBase.html.twig' %}

{% block title %}Hello ProductVariantControlllerController!{% endblock %}

{% block body %}
    <section class="container">
        <div>
            <h1>Index des Products Variants</h1>
            <a class="btn btn-primary" href="{{ path('admin.productVariant.create') }}">Cree un nouveau product variant</a>
        </div>
        <div class="d-flex">
            {% for productVariant in productVariants %}
                <div class="card">
                    <h2>{{ productVariant.product.name }}</h2>
                    <p> taille: {{ productVariant.size }}</p>
                    <p>prix: {{ productVariant.price }}</p>
                    <p>taxe: {{ productVariant.taxe.rate}}</p>
                    <div class="d-flex">
                        <a class="btn btn-secondary" href="{{ path('admin.productVariant.update', {id: productVariant.id}) }}">Update</a>
                        {{ include('Backend/product_variant/_delete.html.twig') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
