{% extends 'base.html.twig' %}

{% block title %}
    Admin User
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="container">
        <h1> Admin users </h1>
        <div class="d-flex flex-wrap-wrap">
            {% for user in users %}
                <div class="card">
                    <h2>{{ user.firstName }}</h2>
                    <p>{{ user.email }}</p>
                    <p>{{ user.telephone ? user.telephone : 'Aucun telephone enregistrer' }}</p>
                    <p>{{ 'ROLE_ADMIN' in user.roles ? 'Admin' : 'User' }}</p>
                    <div class="d-flex">
                    <a class="btn btn-secondary " href="{{ path('admin.user.update', {id: user.id}) }}" >Update</a>
                    {{ include('Backend/user/_delete.html.twig') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
