{% extends 'base.html.twig' %}

{% block title %}
    Admin User
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="container">
        <h1> Admin your users </h1>
        <div>
            {% for user in users %}
                <hr>
                <div class="card">
                    <p>{{ user.firstName }}</p>
                    <p>{{ user.email }}</p>
                    <a href="{{ path('admin.user.update', {id: user.id}) }}" >Update</a>
                    {{ include('backend/user/_delete.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
