{% extends 'Security/security/adminBase.html.twig' %}

{% block title %}
    Genders
    {{ parent() }}
{% endblock %}

{% block body %}
<section class="container">
    <h1>Admin des genders</h1>
    <div>
        <a class="btn btn-primary" href="{{ path('admin.gender.create') }}">Create new gender</a>
    </div>
    <div class="d-flex flex-wrap-wrap">
        {% for gender in genders %}
            <div class="card">
                <h2>{{ gender.name }}</h2>

                <p>{{ gender.enable ? 'Actif' : 'Pas actif' }}</p>
                <div class="flex-wrap-wrap">
                <a class="btn-secondary btn" href="{{ path('admin.gender.update', {id: gender.id}) }}">Update</a>
                {{ include('Backend/gender/_delete.html.twig') }}
                </div>
            </div>

            <hr>
        {% endfor %}
    </div>
</section>

{% endblock %}
