<div class="row" >
    <ul >
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.product.index') }}">Product</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.delivery.index') }}">Delivery</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.gender.index') }}">Gender</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.marque.index') }}">Marque</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.model.index') }}">Model</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.user.index') }}">User</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.taxe.index') }}">Taxe</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="{{ path('admin.productVariant.index') }}">Product Variant</a>
        </li>
        <li>
            <a class="btn btn-secondary" href="/logout">Logout</a>
        </li>
    </ul>
</div>