<div class=" nav row" >

    <p class="wethenew">
        WETHENEW
    </p>

    <ul class="nav-ul">
        <li class="nav-a">
            <a href="#">Sneakers</a>
        </li>
        <li class="nav-a">
            <a href="#">Chaussures</a>
        </li>
        <li class="nav-a">
            <a href="#">Livraison 48h</a>
        </li>
    </ul>

    <div class="nav-search">
        <input type="text" placeholder="Rechercher une marque, un modèle...">
        <i class="bi bi-search"></i>
    </div>

    <ul class="nav-ul nav-icon">
        <li>
            <a href="#">
                <i class="bi bi-person"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-heart"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-bag"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-list"></i>
            </a>
        </li>
    </ul>

</div>


















{#    <ul >#}
{#        <li>#}
{#            <a class="btn btn-secondary" href="{{ path('admin.product.index') }}">Product</a>#}
{#        </li>#}
{#        <li>#}
{#            <a class="btn btn-secondary" href="{{ path('admin.delivery.index') }}">Delivery</a>#}
{#        </li>#}
{#        <li>#}
{#            <a class="btn btn-secondary" href="{{ path('admin.gender.index') }}">Gender</a>#}
{#        </li>#}
{#        <li>#}
{#            <a class="btn btn-secondary" href="{{ path('admin.marque.index') }}">Marque</a>#}
{#        </li>#}
{#        <li>#}
{#            <a class="btn btn-secondary" href="{{ path('admin.model.index') }}">Model</a>#}
{#        </li>#}
{#        <li>#}
{#            <a class="btn btn-secondary" href="{{ path('admin.user.index') }}">User</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href=""></a>#}
{#        </li>#}
{#        <li>#}
{#            <a class="btn btn-secondary" href="/logout">Logout</a>#}
{#        </li>#}
{#    </ul>#}

























