   <div id="nav-admin-content"  class="nav-hidden">
       <div class=" nav row">
           <ul class="nav-ul">
               <li class="nav-a">
                   <a  href="{{ path('admin.product.index') }}">Product</a>
               </li>
               <li class="nav-a">
                   <a href="{{ path('admin.delivery.index') }}">Delivery</a>
               </li>
               <li class="nav-a">
                   <a href="{{ path('admin.gender.index') }}">Gender</a>
               </li>
               <li class="nav-a">
                   <a href="{{ path('admin.marque.index') }}">Marque</a>
               </li>
               <li class="nav-a">
                   <a href="{{ path('admin.model.index') }}">Model</a>
               </li>
               <li class="nav-a">
                   <a href="{{ path('admin.user.index') }}">User</a>
               </li>
               <li class="nav-a">
                   <a href="{{ path('admin.productVariant.index') }}">Product Variant</a>
               </li>
               <li class="nav-a">
                   <a href="/logout">Logout</a>
               </li>
           </ul>
       </div>
   </div>
